@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #EEF4FA;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.slider {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.slider-container {
    width: 500px;
    height: 70vh;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
    position: relative;
}

.main-img{ 
    position: relative;
}

.main-img::after {
    content: "‟";
    font-size: 2.2rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4C9ADB;
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 10;
    color: white;
}

.headline h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 0.3rem;
}

.headline h1::after {
    content: '';
    width: 15%;
    height: 0.225rem;
    background-color: #4C9ADB;
    position: absolute;
    bottom: 0;
    left: 51%;
    transform: translate(-50%, -50%);
    border-radius: 0.625rem;
}

.main-slider {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 5px #8f8e8e4d;
    height: 75%;
    padding: 1em;
}

.main-slider p.name {
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.main-slider p.job {
    font-size: 1.1rem;
    color: #57a9e4;
    font-weight: 600;
}

.btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0.5em 0;
    cursor: pointer;
}

.btn-left, .btn-right {
    color: #57a9e4;
    margin-top: 10px;
}

.btn-left:hover, .btn-right:hover {
    color: #1c689e;
}

.btn-left {
    margin-right: 8px;
}

.btn-right {
    margin-left: 8px;
}

.btn-primary {
    color: #4C9ADB;
    border: 1px solid #4C9ADB;
    padding: 0.4em;
    border-radius: 5px;
    background-color: #E8F5FE;
}