@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #dd514a;
  --green: #42936a;
  --purple: #344564;
  --blue: #3fa4fe;
}

body {
  background-color: #f5f9fa;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

li {
  list-style-type: none;
}

.top-bar {
  height: 8px;
  width: 100%;
  background-color: var(--red);
  position: absolute;
  top: -10%;
  border-radius: 1px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.green {
  background-color: var(--green);
  top: -12%;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 2em 3.5em 3.5em 3.5em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input {
  width: 300px;
  display: block;
  margin: 15px 0;
  padding: 0.8em 1em;
  border: 1px solid #d3d5db;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  outline: none;
}

input:focus {
  outline: 1.5px solid #3fa4fe;
}

.main-heading {
  text-align: center;
  margin-bottom: 15px;
}

button {
  width: 300px;
  background-color: var(--purple);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.7em 1em;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
}

button:hover {
  transition: 0.3s ease;
  background-color: #3c4d6f;
}

p {
  display: inline-block;
  color: #868992;
  font-size: 14px;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: var(--blue);
}

.sub-text {
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #dadada;
  padding: 0.8em 0;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content {
  width: 30%;
}

main h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo .logo-text {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.5em;
}

ul li a {
  font-size: 1rem;
}

.sidebar p {
  font-size: 1rem;
  color: #000;
  cursor: pointer;
  margin-right: 20px;
}

.sidebar button {
  width: 100px;
}

.sidebar {
  width: 18%;
  height: 350px;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: absolute;
  transform: translateX(-100%);
  animation: none;
}

.sidebar-section {
  position: relative;
}

@keyframes sidebar-animation {
  100% {
    transform: translate(0);
  }
}

.active {
  animation: sidebar-animation 1s forwards ease;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
