* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4BF96;
}

.todo {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

input {
    outline: none;
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 6px;
    padding: 0.5em;
}

button {
    outline: none;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 6px;
    padding: 0.5em;
    cursor: pointer;
}

.todo-data .todo-data-wrapper {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin-top: 1em;
}

p {
    width: 450px;
    height: 40px;
    border: none;
    background-color: #fff;
    border-radius: 6px;
    padding: 0.5em;
}

.editBtn, .deleteBtn {
    width: 60px;
}

.editInp {
    width: 450px;
    height: 40px;
    border: none;
    background-color: #fff;
    border-radius: 6px;
    padding: 0.5em;
    outline: auto;
}