* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEF4FA;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    padding: 1.5em 0;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.mid-content ul, 
.social ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.mid-content-ul-getter li {
    width: fit-content;
    border-bottom: 1px solid #fff;
}

.mid-content-ul-getter li:hover {
    border-bottom: 1px solid;
    cursor: pointer;
}

.social {
    color: #79A6CE;
    margin-right: 20px;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
}

.logo {
    margin-left: 20px;
}

.container-fluid {
    width: 85%;
    height: 100%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar-fluid {
    padding: 1em 1.5em;
    background-color: #fff;
    box-shadow: none;
    width: 350px;
    height: 100vh;
}

.mid-content-fluid-ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: #6A7889;
    font-size: 1.2rem;
    margin-top: -180px;
    gap: 20px;
    cursor: pointer;
}

.social-fluid {
    width: 100%;
    margin-bottom: 15px;
}

.social-fluid-ul {
    display: flex;
    gap: 12px;
    margin: auto;
    width: fit-content;
    color: #79A6CE;
}

.close-icon {
    color: red;
    font-size: 1.4rem;
    margin-right: -50px;
    margin-top: 5px;
}

.logo-fluid {
    width: 100%;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
}

.icon button {
    position: absolute;
    right: 0;
    top: 30px;
}